#tituloTakeaway h1 {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 4rem;
}

#tituloTakeawayCarrito h1 {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 4rem;
}

#tituloPropiedades h1 {
  text-align: center;
  text-shadow: 2rem;
  margin-bottom: 3rem;
}

.card {
  -webkit-box-shadow: 0rem 0rem 3rem 0rem;
          box-shadow: 0rem 0rem 3rem 0rem;
  margin: 2rem 2rem 0rem 2rem;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control {
  font-size: 1.5rem !important;
}

.form-select {
  font-size: 1.5rem !important;
}

#botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

#principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#principal #contenedor {
  border-style: solid;
  border-width: thin;
  border-color: grey;
  margin: 0rem 2rem 0rem 1rem;
}

#principal #filtros {
  margin: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#principal #filtros .cabeceraFiltro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
}

#principal #filtros .form-label {
  margin-left: 0rem;
  padding-left: 0rem;
  color: black;
  font-size: 1.5rem;
}

#principal #filtros input {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

span {
  padding: 0rem;
}

#filtros {
  margin-left: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-style: solid;
  border-width: thin;
  border-color: grey;
}

.contenedorPrincipal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: aparecer 1s;
          animation: aparecer 1s;
}

.menutakeaway {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menutakeaway #iconoBusqueda {
  width: 3rem;
  margin-left: 1.5rem;
  margin-right: 5rem;
}

.menutakeaway #iconoCarrito {
  width: 2.5rem;
  margin-bottom: 1rem;
  position: absolute;
}

.busqueda {
  padding-left: 35rem;
}

.filtrarPrecio1 {
  width: 60%;
  margin-bottom: 3rem;
}

#botonNro {
  background: red;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 1000px;
  position: relative;
  top: -15px;
  left: -23px;
}

#botonNro h5 {
  text-align: center;
  font-size: 1.2rem;
}

.carrito {
  margin-right: 4rem;
}

.listaProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encabezados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tituloEncabezado {
  padding-left: 15rem;
}

.imagenTabla {
  width: 15rem;
}

#customers {
  -webkit-box-shadow: 0 0 2rem 0;
          box-shadow: 0 0 2rem 0;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #f8f7f7;
  text-align: center;
  color: #070707;
  font-size: 1.5rem;
  padding: 8px;
}

#customers td .btnBorrar, #customers th .btnBorrar {
  width: 20px;
  height: 20px;
}

#customers td #cantidadMenues, #customers th #cantidadMenues {
  color: #070707;
  text-align: center;
  font-weight: bold;
}

#customers td #TotalItemMenu, #customers th #TotalItemMenu {
  color: #070707;
  text-align: center;
  font-weight: bold;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #e6e36d;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dd7804;
  color: #070707;
}

.comentarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.pie {
  margin-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.fecha input {
  width: 100%;
}

.fecha a {
  font-size: 2.5rem;
  font-weight: bold;
}

.fecha .btn {
  height: 60px;
}

.fecha #hora {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.Subtotal {
  border: 1px solid #030303;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tituloSubtot h2 {
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 2rem;
}

.sumaSubtot {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  padding-right: 4rem;
}

.Subtotal {
  -webkit-box-shadow: 0 0 2rem 0;
          box-shadow: 0 0 2rem 0;
}

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 100px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
  color: black;
  font-weight: bold;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 40px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0px;
  border-bottom: 1px solid #eee;
  background-color: #dd7804;
  color: black;
  font-weight: bold;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: 0px;
  height: 50%;
  color: black;
  font-weight: bold;
  background-color: #dd7804;
}
/*# sourceMappingURL=styletakeaway.css.map */